/* dark blue #131F38 */
/* not as dark blue #172645 */
/* blue #294378 */
/* light blue #35579C */
/* white #f4f4f4 */




*{
    margin: 0;
    padding: 0;
    font-family: Montserrat, sans-serif;
}

html{
    font-size: 62.5%;
}

body{
    text-align: center;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #35579C;
}

.calculator{
    /* border: 2px solid black; */
    border-radius: 5px;
    box-shadow: 0px 7px 25px 6px #294378;
    padding: 5rem;
    font-size: 2.5rem;
    margin-top: 5rem;
    width: 320px;
    height: 440px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.screen{
    background-color: #131F38;
    color: #f4f4f4;
    /* border: 2px solid black; */
    border-radius: 5px;
    /* height: 60px; */
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.buttons{
    margin-top: 5rem;
    display: grid;
    grid-gap: 1rem;
    grid-template-columns: repeat(4, 1fr);
}

.buttons > button{
    /* padding: 2rem; */
    border-radius: 5px;
    background-color: #35579C  ;
    box-shadow: 0px 1px 5px 1px #294378;
    color: #f4f4f4;
    cursor: pointer;
    padding: 1.5rem;
    font-size: 1.5rem;
    /* border: none; */
    outline: none;
}

.is-not-operator{
    background-color: #35769c !important;
}
